.bold{
	font-weight: bold;
}
.normal{
	font-weight: normal;
}
.white{
	color: #fff;
}
.header{
    background-color: #3b5998;
}
a:hover{
    text-decoration: none;
}
h1{
    margin-top: 10px;
    margin-bottom: 10px;
}
h4{
    margin-top: 5px;
    margin-bottom: 5px;   
}
.back{
    background:linear-gradient(white, #D3D8E8);
}
.center{
    border:1px solid #ddd;
    border-radius: 5px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 15px;
}
.warning{
    border:1px solid #ce4d29;
    background-color: #fdece9;
    padding: 10px;
    margin-top: 13px;
}
hr{
    border-top: 1px solid #9c9a9a;
    margin-top: 5px;
    margin-bottom: 5px; 
}
form {
    margin-top: 45px;
    width: 70%;
    margin-left: 20%;
    margin-right: 20%;
}
.but {
    background-color: #3b5998;
    color: #fff;
    border-radius: 0px;
    font-weight: bold;
    padding:4px 9px;
}
.but:hover{
    color:#fff;
}
.footer{
    margin-top: 10px;
    margin-bottom: 5px;
    color: #c2bdbd;
    font-size: 12px;
}
.footer a:hover{
    text-decoration: underline;
}
.footer hr{
    border-top: 1px solid #ddd;
}
@media (max-width: 480px){
    .center{
        width: 90%;
    }
}
@media (min-width: 481px){
    .center{
        width: 70%;
    }
}
@media (min-width: 992px){
    .center{
        width: 40%;
    }
}
